@keyframes blink {
	0% {opacity: 0}
	50% {opacity: 1}
	70% {opacity: 1}
	100% {opacity: 0}
}

@keyframes draw {
  0% {stroke-dashoffset: -1;} 
  100% {stroke-dashoffset: 1;}
}

.loader {
	position: absolute;
	width: 100%;
	display: grid;
	place-items: center;
	height: 100%;
	background-color: #00000010;
	margin-top: calc(-1.2rem - 13px);
	padding-top: calc(1.2rem + 13px);
	margin-bottom: -20px;
	padding-bottom: 20px;
}

.loader--full {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-bottom: -20px;
	height: auto;
}

.loader--full svg {
	position: absolute;
	height: 50%;
	width: 100%;
	z-index: -1;
	text-align: center;
}

.loader--full svg path {
	font-family: 'Cinzel Decorative', serif;
	font-size: 30rem;
  stroke: var(--primary);
  fill: none;
  stroke-dasharray: 0.5;
  stroke-dashoffset: -1;
	animation: draw 16s linear infinite;
}

.loader .loader__dot {
	animation: blink 1200ms linear infinite;
}

.loader .loader__dot:nth-of-type(2){animation-delay: 300ms}
.loader .loader__dot:nth-of-type(3){animation-delay: 600ms}

.loader-enter {
	opacity: 0;
	transform: scaleY(0);
}

.loader-enter-active {
	opacity: 1;
	transform: scaleY(1);
  transition: all 600ms ease-in;
}

.loader-enter-active svg, .loader-enter-active h1, .loader-enter-active h2 {
  opacity: 1;
}

.loader-exit {
  opacity: 1;
}

.loader-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: all 300ms ease-in 300ms;
}

.loader-exit-active svg, .loader-exit-active h1, .loader-exit-active h2 {
	opacity: 0;
	transition: opacity 300ms ease-in;
}