/*============Product List Container============*/

.product-list {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}

.product-list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){
	.product-list{
		grid-template-columns: repeat(3,1fr);
	}
}


/*=============Responsive - Mobile=============*/

@media(max-width: 600px){
	.product-list {
		grid-gap: 1px;
		grid-template-columns: repeat(2,1fr);
	}
	.product-list-header h2 {
		margin: 0;
		align-self: flex-start;
	}
	.product-list-header {
		flex-wrap: wrap;
		flex-direction: column;
	}
}