/*============Product List Container============*/

.product-list {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding-bottom: 16px;
}

.product-list__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	position: relative;
}

.product-list__header h2 {
	padding-left: 10px;
}

.product-list .product-card {
	display: flex;
	flex-direction: column;
}

.product-list .add-to-cart {
	margin-top: auto;
}

.product-list .product-card__text {
	margin-bottom: 2px;
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){
	.product-list{
		grid-template-columns: repeat(3,1fr);
	}
}


/*=============Responsive - Mobile=============*/

@media(max-width: 600px){
	.product-list {
		grid-gap: 1px;
		grid-template-columns: repeat(2,1fr);
	}
	.product-list__header h2 {
		margin: 0;
		align-self: flex-start;
	}
	.product-list__header {
		flex-wrap: wrap;
		flex-direction: column;
	}
}