/*================Product Card================*/

.product-card {
	padding: 5px 10px;
	box-shadow: 8px 8px 0px #f1f1f1;
	position: relative;
}

.product-card h5 {
	margin: 0;
	font-size: 1.3rem;
}

.product-card__image {
	width: 100%;
	height: auto;
}

.product-card__text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product-card:hover .product-card__image {
	filter: grayscale(0.5);
}

/*===============Nav Product Card===============*/

.product-card--nav {
	box-shadow: none;
	background: var(--header);
	padding: 5px;
	margin: 5px;
}

/*==============Cart Product Card==============*/

.product-card--cart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 1.1rem;
	box-shadow: none;
	border-bottom: 2px solid var(--footer);
	padding: 5px 0px;
	margin: 0;
}

.product-card--cart p {
	margin-top: 0;
}

.product-card--cart .add-to-cart {
	width: auto;
	height: 2rem;
}

.product-card--cart .product-card__image {
	width: 20%;
	height: auto;
}

.product-card--cart .product-card__price {
	text-align: right;
	align-self: flex-end;
}

.product-card--cart .product-card__body button {
	padding: 10px;
}

.product-card--cart .product-card__body {
	margin-left: 1.67rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*=============Add To Cart Button=============*/

.add-to-cart {
	width: 100%;
}

.cart--added:hover {
	background-color: var(--primary-mid);
}

.cart--added {
	background-color: var(--primary);
	color: var(--white);
}

.add-to-cart:active {
	background-color: var(--primary-mid);
}

/*=============Add To Wish Button=============*/

.add-to-wish {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 50px;
	width: 50px;
	background-color: transparent;
	border-radius: 0 0 0 50%;
	padding: 0;
	z-index: 1;
	opacity: 0;
	box-shadow: none;
	margin: 0;
}

.add-to-wish .icon {
	transition: all 130ms ease-in;
	fill: var(--white);
}

.wish--added .icon {
	fill: yellow;
}

.product-card:hover .add-to-wish {
	opacity: 1;
}

.add-to-wish:hover  {
	background-color: var(--white);
}

.add-to-wish:active .icon {
	transform: scale(1.7);
}

/*================Product Detail================*/

#details button {
	margin-top: 15px;
}

#details .add-to-cart {
	padding: 1rem 0;
	border: 2px solid var(--black);
}

#details .boxes {
	grid-template-columns: auto 1fr;
}

.quantity {
	border: 2px solid var(--black);
	height: 2rem;
	width: 4rem;
	font-size: inherit;
	text-align: center;
	margin-left: 5px;
}

.add-to-wish--btn {
	width: 100%;
	padding: 0.2rem 0;
	border: 2px solid var(--black);
}

.reviews-table {
	width: 100%;
	margin-top: 5px;
	background-color: var(--header);
	border-collapse: collapse;
}

.reviews-table thead p {
	font-weight: normal;
	font-size: 0.9rem;
}

.review {
	border-bottom: 2px solid var(--black);
}

.review td {
	padding: 1.3rem;
}

.review:first-of-type {
	border-top: 2px solid var(--black);
}

.review:nth-of-type(odd){
	background-color: var(--white);
}

/*=============Responsive - Mobile=============*/

@media(max-width: 600px){
	.product-card {
		padding: 2px;
		margin: 2px;
		box-shadow: none;
	}
	.product-card h5 {
		font-size: 1rem;
	}
	.add-to-cart {
		margin: 0;
		padding: 0;
		font-size: 0.9rem;
	}
	.add-to-wish {
		position: absolute;
		opacity: 1;
		border: none;
		height: 2rem;
		width: 2rem;
		background: transparent;
		cursor: pointer;
		transition: all 230ms ease-in;
	}
	.product-card .star {
		height: 1.2rem;
		width: 1.2rem;
	}
	#details .boxes {
		display: inline-block;
	}
	#details .box__text {
		padding: 0;
	}
}