.product-list {
	display: grid;
}

.product-list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.grid-button {
	border-radius: 0;
	padding: inherit;
	width: 2rem;
	height: 2rem;
	border: 2px solid black;
	margin: 0 1px;
	cursor: pointer;
}

.grid-button:hover {
	background-color: black;
	color: white;
}