.product-card {
	padding: 5px 10px;
	margin: 10px;
	box-shadow: 8px 8px 0px #f1f1f1;
	position: relative;
}

.product-card h5 {
	margin: 0;
	font-size: 1.3rem;
}

.product-image {
	width: 100%;
	height: auto;
}

.product-card-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product-card:hover .product-image {
	filter: grayscale(0.5);
}

.add-to-cart {
	width: 100%;
	border: none;
	background: #fefefe;
	margin: 2px auto;
	font-family: inherit;
	padding: 5px 0;
	cursor: pointer;
	transition: all 230ms ease-in;
}

.cart-added {
	background-color: var(--primary);
	color: #fefefe;
}

.add-to-cart:active {
	background-color: #a6a7b7;
}

.add-to-wish {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 50px;
	width: 50px;
	background-color: transparent;
	border: none;
	border-radius: 0 0 0 50%;
	padding: 0;
	z-index: 1;
	opacity: 0;
	transition: all 230ms ease-in;
	cursor: pointer;
}

.star {
	transition: all 130ms ease-in;
}

.wish-added .star {
	fill: yellow;
}

.product-card:hover .add-to-wish {
	opacity: 1;
}
.add-to-wish:hover  {
	background-color: white;
}

@media(max-width: 600px){
	.product-card {
		padding: 2px;
		margin: 2px;
		box-shadow: none;
	}
	.product-card h5 {
		font-size: 1rem;
	}
	.add-to-cart {
		margin: 0;
		padding: 0;
		font-size: 0.9rem;
	}
	.add-to-wish {
		/*needs a complete rework*/
		display: none;
	}
}