.product-card {
	padding: 5px 10px;
	margin: 10px;
	box-shadow: 8px 8px 0px #f1f1f1;
}

.product-card h5 {
	margin: 0;
	font-size: 1.3rem;
}

.product-card:hover .product-image {
	filter: grayscale(0.5);
}