/*===============Landing Section===============*/

.landing-section {
	width: calc(100% - 6rem);
	min-height: 60vh;
	padding: 0 0 0 3rem;
	margin: 6rem 0;
	position: relative;
	color: var(--white);
}

.landing-section.dark {
	color: var(--black);
}

.landing-section__image {
	position: absolute;
	top: -3rem;
	right: -3rem;
	height: 100%;
	width: 60%;
	max-width: 600px;
	background-size: cover;
	background-position: center;
	transition: filter 230ms ease-in;
	transform-origin: top right;
	animation: load-image 480ms ease-in forwards;
}

.landing-section:hover .landing-section__image,
.landing-section:focus-within .landing-section__image {
	filter: grayscale(0.3);
}

.landing-section__text {
	display: inline-block;
	position: relative;
	margin-top: 2rem;
	z-index: 1;
	animation: load-text-from-left 480ms ease-in forwards;
}

.landing-section__text::before {
	content: "";
	position: absolute;
	height: calc(100% - 25px);
	width: calc(100% + 7rem);
	top: 0;
	z-index: -1;
	transition: transform 300ms ease-in;
	transform: scaleX(0);
}

.landing-section__text.bg-pseudo-berry::before {
	background-color: var(--berry);
	background-image: var(--lighten-to-left)
}
.landing-section__text.bg-pseudo-mushroom::before {
	background-color: var(--mushroom);
	background-image: var(--lighten-to-left)
}
.landing-section__text.bg-pseudo-reduction::before {
	background-color: var(--reduction);
	background-image: var(--darken-to-left);
}
.landing-section__text.bg-pseudo-flower::before {
	background-color: var(--flower);
	background-image: var(--darken-to-left);
}
.landing-section__text.bg-pseudo-header::before {
	background-color: var(--header);
	background-image: var(--darken-to-left);
}

.landing-section__text.bg-pseudo-berry.to-left::before,
.landing-section__text.bg-pseudo-mushroom.to-left::before {
	background-image: var(--lighten-to-right)
}
.landing-section__text.bg-pseudo-reduction.to-left::before,
.landing-section__text.bg-pseudo-flower.to-left::before,
.landing-section__text.bg-pseudo-header.to-left::before {
	background-image: var(--darken-to-right);
}

.landing-section:focus-within .landing-section__text::before,
.landing-section:hover .landing-section__text::before {
	transform: scaleX(1);
}

.landing-section__header {
	font-size: 5rem;
	margin: 1rem 0 0 0;
}

.landing-section__copy {
	font-size: 1.2rem;
	margin: 1rem 0 3rem 0;
}

.landing-section__links {
	padding-bottom: 3rem;
	font-size: 1.2rem;
	position: relative;
}

.landing-section__links::before {
	content: "";
	position: absolute;
	height: 100%;
	width: calc(100% + 5rem);
	background: var(--primary);
	top: -1.6rem;
	transition: transform 300ms 0ms ease-in;
	transform: scaleX(0);
}

.landing-section:focus-within .landing-section__links::before,
.landing-section:hover .landing-section__links::before {
	transform: scaleX(1);
}

.landing-section__link {
	padding: 0.4rem 0.4rem 0.3rem 0.4rem;
	margin-right: 1rem;
	transition: all 150ms ease-in;
	background-color: var(--white);
	color: var(--black);
}

/*==============Odd/Even Sections==============*/

.landing-section:nth-of-type(even) {
	text-align: right;
	padding: 0 3rem 0 0;
	margin-left: 3rem;
}

.landing-section:nth-of-type(even) .landing-section__image {
	left: -3rem;
	transform-origin: top left;
}

.landing-section:nth-of-type(even) .landing-section__text {
	animation: load-text-from-right 480ms ease-in forwards;
}

.landing-section:nth-of-type(even) .landing-section__link {
	margin-right: 0;
	margin-left: 1rem;
}

.landing-section:nth-of-type(odd) .landing-section__text::before {
	left: -6rem;
	transform-origin: left;
}

.landing-section:nth-of-type(even) .landing-section__text::before {
	right: calc(-6rem + 2px);
	transform-origin: right;
}

.landing-section:nth-of-type(odd) .landing-section__links::before {
	transform-origin: right;
	right: calc(-4rem);
}

.landing-section:nth-of-type(even) .landing-section__links::before {
	transform-origin: left;
	left: calc(-4rem);
}

/*==================Email CTA==================*/

.cta {
	background-color: var(--footer);
	color: var(--white);
	text-align: center;
	padding: 1rem;
}

.cta__button {
	padding: 1rem;
	font-size: 1.3rem;
	border: 2px solid var(--white);
}

.cta__button:focus,
.cta__button:hover {
	background-color: var(--primary);
	color: var(--white);
}

.cta__content {
	max-width: 900px;
	margin: 1rem auto 0 auto;
}

/*=============Responsive - Tablet=============*/

@media (max-width: 800px) {
	#landing {
		min-width: 100vw;
	}
	.landing-section {
		width: calc(100% - 6rem);
		padding-left: 3rem;
		margin-left: 0;
	}
	.landing-section:nth-of-type(even) {
		padding-right: 3rem;
	}

	.landing-section__links::before {
		display: none;
	}
	.landing-section__links {
		margin: 0px 2rem 25px 2rem;
	}
}

/*=============Responsive - Mobile=============*/

@media (max-width: 600px) {
	.landing-section {
		margin-left: 0;
		margin-right: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		padding: 0;
		justify-content: space-between;
	}
	.landing-section:nth-of-type(even) {
		margin-left: 0;
		right: 0;
		padding: 0;
	}
	.landing-section__text::before {
		width: 100%;
		left: 0;
		transform: scaleY(1);
		opacity: 0.2;
		background: var(--black) !important;
	}
	.landing-section.dark .landing-section__text::before {
		background: var(--white) !important;
	}
	.landing-section__image {
		left: 20%;
		width: 80%;
	}
	.landing-section:nth-of-type(even) .landing-section__image {
		left: 0;
		width: 50%;
	}
	.landing-section__header {
		font-size: 3rem;
		margin-top: 0;
	}
	.landing-section__text {
		padding: 12px;
	}
	.landing-section__links {
		margin: 0px 12px 25px 12px;
	}
}

/*Keyframes*/

@keyframes load-image {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes load-text-from-left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes load-text-from-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateY(0%);
	}
}
