/*===================Landing===================*/

#landing section {
	display: flex;
	width: 100%;
	height: 60vh;
	margin-bottom: 3rem;
	position: relative;
	overflow: hidden;
}

.section-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: filter 230ms ease-in;
}

#landing section:hover .section-image {
	filter: blur(2px);
}

.section-text {
	padding: 2rem;
	z-index: 1;
}

.section-header {
	font-size: 4rem;
}

.section-copy {
	margin-bottom: 4rem;
}

.section-link {
	padding: 0.4rem;
	margin-right: 1rem;
	margin-top: 0.83rem;
	border: 2px solid var(--white);
	box-shadow: 2px 2px 0 var(--footer);
}

.section-link:hover {
	background-color: var(--white);
	color: var(--primary);
}

.section-stripe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	transform: skewX(-45deg);
	opacity: 0.9;
}

/*==============Odd/Even Sections==============*/

#landing section:nth-of-type(even){
	flex-direction: row-reverse;
	text-align: right;
}

#landing section:nth-of-type(even) .section-link {
	margin-right: 0;
	margin-left: 1rem;
}

#landing section:nth-of-type(even) .section-stripe {
	right: -50%;
	transform: skewX(-45deg) scaleX(0);
	transform-origin: right;
}
#landing section:nth-of-type(odd) .section-stripe {
	left: -50%;
	transform: skewX(-45deg) scaleX(0);
	transform-origin: left;
}

#landing section:nth-of-type(odd):hover .section-stripe {
	animation: diagonalOdd 800ms ease-in-out forwards;
}
#landing section:nth-of-type(even):hover .section-stripe {
	animation: diagonalEven 800ms ease-in-out forwards;
}

/*==================Keyframes==================*/

@keyframes diagonalOdd {
	0%   {transform: skewX(-45deg) scaleX(0)}
	50%  {transform: skewX(-45deg) scaleX(1.1)}
	70%  {transform: skewX(-45deg) scaleX(0.9)}
	100% {transform: skewX(-45deg) scaleX(1)}
}

@keyframes diagonalEven {
	0%   {transform: skewX(45deg) scaleX(0)}
	50%  {transform: skewX(45deg) scaleX(1.1)}
	70%  {transform: skewX(45deg) scaleX(0.9)}
	100% {transform: skewX(45deg) scaleX(1)}
}

/*=============Responsive - Tablet=============*/

@media(max-width:800px){
	#landing {
		min-width: 100vw;
	}
}

/*=============Responsive - Mobile=============*/

@media(max-width: 600px){
	#landing section {
		margin-bottom: 0;
		border-bottom-width: 15px;
		border-bottom-style: solid;
	}
	.section-header {
		font-size: 2rem;
	}
	.section-stripe {
		width: 105%;
	}
	#landing section:nth-of-type(odd) .section-stripe {left: -55%;}
	#landing section:nth-of-type(even) .section-stripe {right: -55%;}
}