#landing {
	display: flex;
	flex-direction: column-reverse;
	height:80vh;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1528518290605-1fcc8dcca204?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
}

@media(max-width:800px){
	#landing {
		width: 100%;
	}
}