#mobile-menu {
	position: sticky;
	bottom: 0;
	width: 100vw;
	z-index: 1000;
}

.mobile-menu-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--header);
	padding: 7px 0px;
}

#mobile-menu .header-button {
	border: none;
	position: relative;
	background: transparent;
}

#mobile-menu .header-button svg {
	fill: var(--black);
	stroke: var(--black);
}

#mobile-menu .header-button.empty svg {
	fill: none;
}

#mobile-menu button {
	box-shadow: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.mobile-menu-quantity {
	position: absolute;
	left: 2.2rem;
	top: 0;
	color: var(--black);
}

.mobile-menu-dropup {
	position: absolute;
	bottom: calc(2rem + 18px);
	width: 100vw;
	transform-origin: bottom;
	z-index: -1;
}

.mobile-menu-dropup.expanded .dropup {
	transform: translateY(0);
}

.dropup {
	list-style: none;
	width: 100%;
	font-size: 1.3rem;
	padding: 2px 0;
	text-align: center;
	transition: transform 210ms ease-in;
}

.dropup:nth-of-type(5){transform: translateY(100%);}
.dropup:nth-of-type(4){transform: translateY(200%);}
.dropup:nth-of-type(3){transform: translateY(300%);}
.dropup:nth-of-type(2){transform: translateY(400%);}
.dropup:nth-of-type(1){transform: translateY(500%);}