#mobile-menu {
	position: sticky;
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--header);
	padding: 7px 0px;
	z-index: 1000;
}

#mobile-menu .header-button {
	border: none;
	position: relative;
	background: transparent;
}

#mobile-menu .header-button svg {
	fill: var(--black);
	stroke: var(--black);
}

#mobile-menu .header-button.empty svg {
	fill: none;
}

.mobile-menu-quantity {
	position: absolute;
	left: 2.2rem;
	top: 0;
	color: var(--black);
}

.mobile-menu-dropup {
	position: absolute;
	bottom: calc(2rem + 18px);
	width: 100vw;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: transform 250ms ease-in;
}

.mobile-menu-dropup.expanded {
	transform: scaleY(1);
}

.dropup {
	list-style: none;
	width: 100%;
	font-size: 1.3rem;
	padding: 2px 0;
}