.signup {
	background-color: var(--footer);
}

.signup__input {
	margin-top: 10px;
	width: calc(70% - 4px - 0.3rem);
}

#email {
	border-right: none;
}

.signup__submit {
	width: calc(30% - 0.3rem);
	padding: 0.3rem;
}

.signup--disabled .signup__input {
	background-color: var(--primary-mid);
	cursor: not-allowed;
}
