.signup {
	background-color: var(--footer);
}

.signup__label {
	font-family: "Scope One", serif;
}

.signup__input {
	margin-top: 10px;
	width: calc(70% - 4px - 0.3rem);
}

.signup__submit {
	width: calc(30% - 0.3rem);
	border: 2px solid var(--black);
	border-left: 0;
	padding: 0.3rem;
}

.signup__submit:hover,
.signup__submit:focus {
	background-color: var(--primary-mid);
}

.signup--disabled .signup__input {
	background-color: var(--primary-mid);
	cursor: not-allowed;
}