/*==================Keyframes==================*/

@keyframes popUp {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/*================Product Card================*/

.product-card {
	padding: 5px;
	box-shadow: 8px 8px 0px #f1f1f1;
	position: relative;
	display: flex;
	flex-direction: column;
}

.product-card h5 {
	margin: 0;
	font-size: 1.3rem;
}

.product-card__image {
	width: 100%;
	height: auto;
}

.product-card__text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2px;
}

.product-card:hover .product-card__image,
.product-card:focus-within .product-card__image {
	filter: grayscale(0.5);
}

/*==============Responsive - Mobile==============*/

@media (max-width: 600px) {
	.product-card {
		padding: 2px;
		margin: 2px;
		box-shadow: none;
	}
	.product-card h5 {
		font-size: 1rem;
	}
}

/*===============Nav Product Card===============*/

.product-card--nav {
	box-shadow: none;
	background: var(--header);
	padding: 5px;
	margin: 5px;
}

/*==============Cart Product Card==============*/

.product-card--cart {
	display: grid;
	grid-template-columns: 20% repeat(2, 40%);
	grid-template-rows: 1fr auto;
	grid-template-areas: "photo title-l title-r" "photo quantity remove";
	font-size: 1.1rem;
	box-shadow: none;
	border-bottom: 2px solid var(--footer);
	padding: 5px 0px;
	margin: 0;
}

.product-card--cart p {
	margin: 0;
	grid-area: title-l;
}

.product-card--cart .add-to-cart {
	width: auto;
	height: 2rem;
}

.product-card--cart .product-card__image {
	grid-area: photo;
	margin-bottom: 5px;
	margin-right: 5px;
	width: calc(100% - 5px);
}

.product-card--cart .product-card__price {
	text-align: right;
	align-self: flex-end;
	grid-area: title-r;
}

.product-card--cart .product-card__body {
	margin-left: 1.67rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-card--cart .edit-quantity {
	grid-area: quantity;
}

.product-card--cart .edit-quantity button {
	width: 66%;
}

.product-card--cart .button--added {
	grid-area: remove;
	margin-top: auto;
	margin-left: auto;
}

/*=============Responsive - Mobile=============*/

@media (max-width: 600px) {
	.product-card--cart {
		grid-template-columns: repeat(3, 33%);
		grid-template-areas: "photo title-l title-l" "quantity quantity remove";
	}
	.product-card--cart .edit-quantity {
		flex-wrap: wrap;
	}
	.product-card--cart .product-card__price {
		align-self: flex-end;
		grid-area: title-l;
	}
}

/*=============Add To Wish Button=============*/

.add-to-wish {
	position: absolute;
	right: 0px;
	top: 0px;
	border: none;
	height: 50px;
	width: 50px;
	background-color: transparent;
	border-radius: 0 0 0 50%;
	padding: 0;
	z-index: 1;
	opacity: 0;
	box-shadow: none;
	margin: 0;
}

.add-to-wish .icon {
	transition: all 130ms ease-in;
	fill: var(--white);
}

.wish--added .icon {
	fill: var(--primary);
}

.product-card:hover .add-to-wish,
.product-card:focus-within .add-to-wish {
	opacity: 1;
	box-shadow: none;
}

.add-to-wish:hover,
.add-to-wish:focus {
	/* Not ideal, but specifity issues & all that... */
	background-color: var(--white) !important;
}

.add-to-wish:active .icon {
	transform: scale(1.7);
}

/*=============Responsive - Mobile=============*/

@media (max-width: 600px) {
	.add-to-wish {
		opacity: 1;
		height: 2rem;
		width: 2rem;
	}
	.product-card .star {
		height: 2rem;
		width: 2rem;
	}
}

/*==============Edit Quantity Form==============*/

.edit-quantity {
	display: flex;
	align-items: center;
}

.edit-quantity input {
	margin-right: 5px;
}
