/*==================About Main==================*/

.about__img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.about__links-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.about__links-container h3 {	
	text-align: center;
}

/*=====================FAQ=====================*/

.faq-list {
	list-style: none;
	padding: 0;
}

.question__header {
	border: none;
	border-bottom: 2px solid var(--black);
	box-shadow: none;
	width: 100%;
	text-align: left;
	margin-bottom: 0;
}

.question__answer {
	height: 0px;
	overflow: hidden;
	padding-left: 1rem;
	padding-top: 1rem;
	margin-top: 0;
	border-left: 2px solid var(--black);
	transition: all 150ms ease-in-out;
	opacity: 0;
	transform-origin: top;
}

.question.expanded .question__answer {
	height: auto;
	opacity: 1;
}

/*===================Delivery===================*/

#delivery * {
	margin-top: 0;
}

#delivery .box__image {
	background-image: url("https://images.unsplash.com/photo-1557568192-387504499261?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
}

/*===================Returns===================*/

#returns .box__image {
	background-image: url("https://images.unsplash.com/photo-1525261774241-4a83714af514?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){
	.about__img {
		width: calc(104% + 2px);
		margin-left: calc(-2% - 1px);
	}
}

/*=============Responsive - Mobile=============*/

@media(max-width: 600px){
	.about__links-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}