/*==================About Main==================*/

#about img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.about__links-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.about__links-container h3 {	
	text-align: center;
}

/*=====================FAQ=====================*/

.faq-list {
	list-style: none;
	padding: none;
}

.faq-list p {
	margin-left: 1rem;
}

/*===================Delivery===================*/

#delivery * {
	margin-top: 0;
}

#delivery .box__image {
	background-image: url("https://images.unsplash.com/photo-1557568192-387504499261?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
}

/*===================Returns===================*/

#returns .box__image {
	background-image: url("https://images.unsplash.com/photo-1525261774241-4a83714af514?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
}
