/*==================Cart List==================*/

.cart-list {
	display: flex;
	flex-direction: column;
}

.cart-subtotal {
	text-align: right;
}

/*==============Cart Product Card==============*/

.cart.product-card {
	display: flex;
	font-size: 1.1rem;
	box-shadow: none;
	border-bottom: 2px solid var(--footer);
	padding: 5px 0px;
	margin: 0;
}

.cart.product-card p {
	margin-top: 0;
}

.cart.product-card-image {
	width: 20%;
}

.cart.product-card-price {
	flex-grow: 1;
	text-align: right;
}

.cart.product-card-body button {
	padding: 10px;
}

.cart.product-card-body {
	margin-left: 1.67rem;
}

/*===================Checkout===================*/

#checkout {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

#checkout h2 {
	margin-top: 0;
}

.summary-section {
	margin: 10px 0;
}

#checkout-summary {
	background-color: var(--header);
	padding: 1rem;
	margin-right: 2rem;
	flex-grow: 1;
}

#delivery-address span {
	color: red;
}

#delivery-address label {
	margin-top: 0.3rem;
}

.delivery-radio {
	padding: 0.3rem;
	margin-bottom: 0.3rem;
	border: 2px solid var(--black);
	background-color: var(--white);
}

.delivery-radio label {
	cursor: pointer;
	display: block;
}

#delivery-address form {
	display: flex;
	flex-direction: column;
}

#order-summary {
	background-color: var(--header);
	padding: 1rem;
	min-width: 30%;
	height: fit-content;
}

#order-summary ul {
	list-style: none;
	padding: 0;
}

#order-summary li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#order-summary img {
	height: 5rem;
}

@media(max-width: 600px){
	#checkout {
		flex-direction: column;
	}

	#checkout-summary, #order-summary {
		margin: 1rem 0 ;
	}
}