.footer {
	background-color: var(--footer);
	color: var(--white);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "list-l list-r"
											 "link link";
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-top: 20px;
}

.footer-link-sub {
	color: var(--white);
}

.footer-link {
	color: var(--white);
	margin-bottom: 5px;
	font-size: 1.3rem;
}

.footer-link-group {
	list-style: none;
	display: inline-block;
	padding: 0;
}

.footer-link-group:nth-of-type(1){
	grid-area: list-l;
}

.footer-link-group:nth-of-type(2){
	grid-area: list-r;
}

.footer-external {
	grid-area: link;
	font-size: 1.3rem;
}

@media(max-width: 800px){
	.footer {
		margin-top: 0;
	}
}