/*==================Mini Carts==================*/

.header-button:hover .mini-cart,
.header-button:focus .mini-cart,
.header-button:focus-within .mini-cart {
	transform: scaleY(1);
}

.mini-cart {
	position: absolute;
	background-color: var(--header);
	list-style: none;
	width: 286px;
	z-index: 2;
	margin: 11px 0 0 0;
	padding: 4px 10px;
	transform: scaleX(0);
	transition: all 120ms 150ms ease-in;
	height: 419px;
	overflow-y: scroll;
}

.minicart__svg {
	position: absolute;
	background-color: transparent;
	list-style: none;
	width: 314px;
	z-index: 2;
	left: -2px;
	padding: 0px;
	height: 443px;
	transform: scaleY(0);
	transform-origin: top;
}

.minicart__svg path {
	stroke: var(--black);
	stroke-width: 2px;
	fill: none;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	transition: all 300ms ease-in-out;
}

.header-button:hover .minicart__svg path,
.header-button:focus-within .minicart__svg path {
	stroke-dashoffset: 0;
}

.header-button:hover .minicart__svg,
.header-button:focus-within .minicart__svg {
	transform: scaleX(1);
}

#header-cart .mini-cart {
	right: 2px;
	transform-origin: right;
}

#header-wish .mini-cart {
	left: 2px;
	transform-origin: left;
}

.mini-cart__item {
	display: flex;
	justify-content: space-between;
}

.mini-cart__item-image {
	width: 50%;
	height: auto;
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){
	.mini-cart {
		display: none;
	}
}
