:root {
	--beige: #DBCFB0;
	--light-green: #BFC8AD;
	--dark-green: #90B494;
	--light-blue: #718F94;
	--dark-blue: #545775;
}

@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans&display=swap');

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	font-family: 'Open-Sans', sans-serif;
	background-color: #fdfdfd;
}

h1,h2,h3,h4,h5,.display {
	font-family: 'Cinzel', serif;
}

a {
	color: inherit;
}
