:root {
	--beige: #DBCFB0;
	--light-green: #BFC8AD;
	--dark-green: #90B494;
	--light-blue: #718F94;
	--dark-blue: #545775;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	font-family: 'Lora', serif;
	background-color: #fdfdfd;
}

h1,h2,h3,h4,h5,.display {
	font-family: 'Tangerine', cursive;
}

a {
	color: inherit;
}
