/*===============Global Variables===============*/

:root {
	--mushroom: #dbcfb0;
	--berry: #bfc8ad;
	--flower: #90b494;
	--reduction: #718f94;
	--primary: #545775;
	--primary-mid: #a6a7b7;
	--white: #fcfcff;
	--black: #101016;
	--footer: #575757;
	--header: #f1f1f1;
}

/* Gradients */

:root {
	--lighten-to-left: linear-gradient(
		-104deg,
		rgba(255, 255, 255, 0) 70%,
		rgba(255, 255, 255, 0.3) 100%
	);
	--lighten-to-right: linear-gradient(
		104deg,
		rgba(255, 255, 255, 0) 70%,
		rgba(255, 255, 255, 0.3) 100%
	);
	--darken-to-left: linear-gradient(
		-104deg,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.2) 100%
	);
	--darken-to-right: linear-gradient(
		104deg,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.2) 100%
	);
}

/* =================Backgrounds================= */

.bg-mushroom {
	background-color: var(--mushroom);
}
.bg-berry {
	background-color: var(--berry);
}
/* Odd Section Background */
.bg-mushroom.to-left,
.bg-berry.to-left {
	background-image: var(--lighten-to-left);
}
/* Even Section Background */
.bg-mushroom.to-right,
.bg-berry.to-right {
	background-image: var(--lighten-to-right);
}

.bg-reduction {
	background-color: var(--reduction);
}
.bg-flower {
	background-color: var(--flower);
}
.bg-primary {
	background-color: var(--primary);
}
/* Odd Section Background */
.bg-reduction.to-left,
.bg-primary.to-left,
.bg-flower.to-left {
	background-image: var(--darken-to-left);
}
/* Even Section Background */
.bg-reduction.to-right,
.bg-primary.to-right,
.bg-flower.to-right {
	background-image: var(--darken-to-right);
}

/*==============Global HTML Styles==============*/

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Scope One", serif;
	background-color: var(--white);
	color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
.display {
	font-family: "Cinzel Decorative", serif;
}

#container {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	min-height: 100vh;
}

main {
	margin: calc(4.4rem + 14px) auto 0 auto;
	flex-grow: 1;
	width: 80%;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

a {
	color: inherit;
	text-decoration: none;
	position: relative;
}

a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	left: 0;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 250ms ease-in, opacity 180ms ease-in;
}

a:hover::before,
a:focus-within::before,
a:focus::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

a:active::before {
	transform: scaleY(10);
	opacity: 0.5;
}

button {
	font-family: inherit;
	font-size: inherit;
	padding: 0.2rem;
	border: none;
	box-shadow: 2px 2px 0 var(--footer);
	background-color: var(--white);
	outline: none;
	transition: all 210ms ease-in;
	margin: 2px 0;
	cursor: pointer;
}
}

button:disabled,
button[disabled] {
	cursor: not-allowed;
	background-color: var(--header);
	color: var(--footer);
}

button:disabled:hover,
button:disabled:focus {
	background-color: var(--header);
	box-shadow: 2px 2px 0 var(--footer);
}

select {
	font-family: inherit;
	font-size: inherit;
}

input[type="email"],
input[type="password"],
input[type="text"] {
	padding: 0.3rem;
	font-size: 1rem;
	font-family: inherit;
	border: 2px solid var(--black);
	background-color: var(--white);
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
	background-color: var(--primary-mid);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.errors {
	background-color: var(--footer);
	color: var(--white);
	padding: 2rem 0;
	text-align: center;
	width: 100%;
	margin-top: calc(2.4rem + 14px);
	margin-bottom: calc(-4.4rem - 14px);
}

/*====================Boxes====================*/

.boxes {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.box__text {
	padding: 2rem;
}

.box__image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.box:nth-of-type(odd) {
	text-align: right;
}

/*=============Responsive - Tablet=============*/

@media (max-width: 800px) {
	main {
		width: 96%;
	}
	.errors {
		margin-top: calc(6.4rem + 14px);
	}
}

/*=============Responsive - Mobile=============*/

@media (max-width: 600px) {
	.errors {
		margin: 0 auto;
	}
	main {
		margin: 0 auto;
	}
	#container {
		grid-template-rows: auto 1fr auto;
	}
	.boxes {
		grid-template-columns: 1fr;
	}
	.box__image {
		min-height: 50vh;
	}
	.box:nth-of-type(2) {
		grid-row: 1;
	}
}
