/*==================Container==================*/

.nav-section__container {
	display: flex;
	width: 80%;
	margin: 0 auto;
	transform: translateY(-80%);
	transition: transform 240ms ease-out;
	padding-left: 0;
}

#header:focus-within .nav-section__container,
#header:hover .nav-section__container {
	transform: translateY(0%);
}

/*=================Nav Section=================*/

.nav-section {
	list-style: none;
	padding: 5px;
	font-size: 1.2rem;
	flex-basis: 0;
	flex: 1 1 0px;
}

.nav-section__block-link {
	display: block;
}

.nav--about {
	color: var(--white);
}

/*=================Nav Submenu=================*/

.nav-section__submenu {
	position: absolute;
	padding: 1%;
	grid-template-columns: 1fr 1fr 1fr;
	left: 0;
	transition: all 170ms ease-in;
	display: grid;
	top: 100%;
	transform: translateY(-200%);
	transform-origin: top;
	z-index: -1;
}

.nav-section__submenu-content h2 {
	margin-top: 0;
}

.nav-section:hover .nav-section__submenu,
.nav-section:focus-within .nav-section__submenu {
	transform: translateY(0%);
}

.about-submenu {
	width: 100%;
	padding: 1% 0;
	display: flex;
}

.about-submenu__link {
	color: var(--white);
	text-align: center;
	border-right: 2px solid var(--white);
	flex-basis: 0;
	flex: 1 1 0px;
}

.about-submenu__link:last-of-type {
	border-right: none;
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){

	.nav-section__container {
		width: 100%;
		transform: translateY(0);
	}

	.nav-section__submenu {
		top: 100%;
	}
	
	.nav-section {
		font-size: 1rem;
	}

}