/*==================Container==================*/

.nav-section-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 80vw;
}

#landing .nav-section-container {
	position: relative;
}

#header .nav-section-container {
	margin: 0 auto;
	transform: translateY(-80%);
	transition: transform 240ms ease-out;
}

#header:hover .nav-section-container {
	transform: translateY(0%);
}

/*=================Nav Section=================*/

.nav-section {
	list-style: none;
	padding: 5px;
	font-size: 1.2rem;
}

.nav-section a {
	text-decoration: none;
}

.nav-section:hover a {
	text-decoration: underline;
}

#landing .nav-section {
	font-size: 1.5rem;
}

/*=================Nav Submenu=================*/

.nav-section-submenu {
	position: absolute;
	width: 78vw;
	padding: 1% 1vw;
	grid-template-columns: 1fr 1fr 1fr;
	left: 0;
	transition: all 50ms 50ms linear;
	display: none;
	z-index: 1000;
}

#landing .nav-section-submenu {
	bottom: calc(14px + 1.5rem);
}

#header .nav-section-submenu {
	top: calc(12px + 1.2rem);
}

.nav-section:hover .nav-section-submenu {
	display: grid;
}

.nav-section:hover .about-submenu {
	display: flex;
}

/*============Nav Section Subsection============*/

.nav-section-submenu-section {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
	padding: 5px;
}

.nav-section-submenu-section img {
	margin: 0 auto;
	max-width: 100%;
}

.nav-section-submenu-section h5 {
	font-size: 1.3rem;
	margin: 5px 0;
}

.nav-section-submenu-section p {
	font-size: 1rem;
	margin: 5px 0;
}

.about-submenu-link {
	flex-grow: 1;
	color: var(--white);
	text-align: center;
	border-right: 2px solid var(--white);
}

.about-submenu-link:hover {
	background: var(--white);
	color: var(--primary);
}

.about-submenu-link:last-of-type {
	border-right: none;
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){

	#header .nav-section-container {
		width: 100%;
		transform: translateY(0);
	}

	#header .nav-section-submenu {
		width: 98%;
		top: calc(12px + 1rem);;
	}
	
	.nav-section {
		font-size: 1rem;
	}
	
	#landing .nav-section-container {
		display: none;
	}
}