/*=============Header Main Sections=============*/

#header {
	z-index: 1000;
	position: sticky;
	top: 0;
}

.header__main-container {
	background-color: var(--header);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	z-index: 2;
	position: relative;
}

.header__title {
	color: var(--primary);
	margin: 0;
	font-size: 2.4rem;
	padding: 2px;
	transition: all 180ms ease-in;
}

.header__title a::before {
	display: none;
}

.header__title:hover,
.header__title:focus,
.header__title:focus-within {
	background: var(--primary);
	color: var(--white);
}

/*================Mobile Header================*/

#mobile-header {
	width: 100%;
	border-bottom: 5px solid var(--primary);
	text-align: center;
}

/*================Header Buttons================*/

.header__buttons-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	position: relative;
}

.header-button {
	margin-left: 8px;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	transform: translateX(calc(100% - 24px));
	background: var(--header);
	transition: transform 350ms ease-in;
}

.header-button:first-of-type {
	transform: translateX(calc(200% - 40px));	
}

.header-button::before {
	bottom: 0px;
	height: 3px;
	left: calc(24px + 0.2rem);
	width: calc(100% - 24px - 0.2rem);
}

.header-button .icon {
	fill: var(--primary);
	margin-right: 0.2rem;
	transition-delay: 170ms;
}

.header-button.empty .icon {
	fill: transparent;
}

.header-button::after {
	content: "";
	position: absolute;
	top: 12px;
	left: 12px;
	height: 50px;
	width: 50px;
	background-color: var(--primary);
	transform: translate(-50%,-50%) scale(0);
	opacity: 0;
	border-radius: 50%;
}

#header .header-button::after {
	height: 24px;
	width: 24px;
}

.header-button.updated::after {
	animation: updatePseudo 270ms linear forwards;
}

@keyframes updatePseudo {
	0% {
		transform: translate(-50%,-50%) scale(0);
		opacity: 1;
	}
	99% {
		transform: translate(-50%,-50%) scale(2);
		opacity: 0;
	}
	100% {
		transform: translate(-50%,-50%) scale(0);
		opacity: 0;
	}
}

.header__buttons-container:hover .header-button {
	transform: translateX(0);
}
.header__buttons-container:hover .header-button:first-of-type {
	transform: translateX(0);
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){
	.header__main-container {
		padding: 5px 5%;
	}
	.header__buttons-container {
		grid-template-columns: auto;
	}
	.header-button {
		transform: translateX(0);
	}
	.header-button:first-of-type {
		transform: translateX(0);
	}
	.header__buttons-container:hover .header-button {
		transform: translateX(0);
	}
	.header__buttons-container:hover .header-button:first-of-type {
		transform: translateX(0);
	}
}
