/*=============Header Main Sections=============*/

#header {
	z-index: 1000;
	position: sticky;
	top: 0;
}

.header__main-container {
	background-color: var(--header);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	z-index: 2;
	position: relative;
}

.header__title {
	color: var(--primary);
	margin: 0;
	font-size: 2.4rem;
	padding: 2px;
	transition: all 180ms ease-in;
}

.header__title a::before {
	display: none;
}

.header__title:hover {
	background: var(--primary);
	color: var(--white);
}

/*================Header Buttons================*/

.header__buttons-container {
	display: flex;
	position: relative;
}

.header-button__link {
	font-size: 1.1rem;
	text-decoration: none;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2px 0px 2px 2px;
	border: 2px solid var(--black);
	background: var(--black);
	color: var(--white);
	width: 144px;
	transition: all 150ms ease-in;
}

.header-button__link::before {
	content: '';
	position: absolute;
	top: 100%;
	left: -2px;
	width: 100%;
	transform: scaleY(0);
	height: 50%;
	background: var(--header);
	border-left: 2px solid var(--black);
	border-right: 2px solid var(--black);
	z-index: 3;
	transition: all 50ms linear;
	transform-origin: top;
}

.header-button__link.empty {
	background: var(--header);	
	color: var(--black);
}

.header-button__link svg {
	stroke: var(--white);
	stroke-width: 2;
}
.header-button__link.empty svg {
	stroke: var(--black);
	stroke-width: 2;
}

.header-button:hover .header-button__link {
	text-decoration: underline;
	background-color: var(--header);
	color: var(--black);
}

.header-button:hover .header-button__link::before {
	transform: scaleY(1);
}

.header-button:hover .header-button__link svg {
	stroke: var(--black);
}

.updated svg {
	animation: update 270ms linear;
}

@keyframes update {
	0%   {transform: scale(1)}
	50%  {transform: scale(1.8)}
	75%  {transform: scale(0.3)}
	100% {transform: scale(1)}
}

/*==================Mini Carts==================*/

.header-button:hover .mini-cart {
	transform: scaleY(1);
}

.mini-cart {
	position: absolute;
	background-color: var(--header);
	list-style: none;
	width: 286px;
	z-index: 2;
	margin: 10px 0 0 0;
	padding: 10px;
	border: 2px solid var(--black);
	transform: scaleY(0);
	transform-origin: top;
	transition: all 120ms 50ms ease-in;
	max-height: 429px;
	overflow-y: scroll;
}

#header-wish svg {
	fill: transparent;
}

#header-cart .mini-cart {
	right: 0;
}

.header-button:first-of-type {
	margin-right: 10px;
}

.mini-cart__item {
	display: flex;
	justify-content: space-between;
}

.mini-cart__item-image {
	width: 50%;
	height: auto;
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){
	.header__main-container {
		padding: 5px 5%;
	}
	.header-button__link {
		padding: 2px;
		width: auto;
	}
	.header-button__link::before {
		display: none;
	}
	.mini-cart {
		display: none;
	}
}
