/*=============Header Main Sections=============*/

#header {
	z-index: 1000;
	position: sticky;
	top: 0;
}

.header-main {
	background-color: var(--header);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	z-index: 2;
	position: relative;
}

.header-title {
	color: var(--primary);
	margin: 0;
	font-size: 2.4rem;
	padding: 2px;
	transition: all 180ms ease-in;
}

.header-title:hover {
	background: var(--primary);
	color: var(--white);
}

.updated {
	animation: update 270ms linear;
}

@keyframes update {
	0%  {outline:  0px solid #000000FF}
	50% {outline: 10px solid #000000FF}
	75% {outline: 10px solid #00000000}
	100% {outline: 0px solid #00000000}
}

/*================Header Buttons================*/

.header-carts {
	display: flex;
	position: relative;
}

.header-button {
	font-size: 1.1rem;
	text-decoration: none;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2px 0px 2px 2px;
	border: 2px solid var(--black);
	background: var(--black);
	color: var(--white);
	width: 144px;
	transition: all 150ms ease-in;
}

.header-button::before {
	content: '';
	position: absolute;
	top:  calc(100% - 1px);
	left: -2px;
	width: 100%;
	height: 0%;
	background: var(--header);
	border-left: 2px solid var(--black);
	border-right: 2px solid var(--black);
	z-index: 3;
}

@supports (-moz-appearance:none) {
	.header-button::before {
		top: calc(100% - 3px);
		width: calc(100% + 1px)
	} 
}

.header-button.empty {
	background: var(--header);	
	color: var(--black);
}

.header-button svg {
	stroke: var(--white);
	stroke-width: 2;
}
.header-button.empty svg {
	stroke: var(--black);
	stroke-width: 2;
}

.header-container:hover .header-button {
	text-decoration: underline;
	background-color: var(--header);
	color: var(--black);
}

.header-container:hover .header-button::before {
	height: calc(50% + 2px);
}

.header-container:hover .header-button svg {
	stroke: var(--black);
}

/*==================Mini Carts==================*/

.header-container:hover .mini-cart {
	transform: scaleY(1);
}

.mini-cart {
	position: absolute;
	background-color: var(--header);
	list-style: none;
	width: 286px;
	z-index: 2;
	margin: 10px 0 0 0;
	padding: 10px;
	border: 2px solid var(--black);
	transform: scaleY(0);
	transform-origin: top;
	transition: all 120ms ease-in;
	max-height: 429px;
	overflow-y: scroll;
}

#header-wish svg {
	fill: transparent;
}

#header-cart .mini-cart {
	right: 0;
}

.header-container:first-of-type {
	margin-right: 10px;
}

.mini-cart-item {
	display: flex;
	justify-content: space-between;
}

.mini-cart-item-image {
	width: 50%;
	height: auto;
}

/*=============Responsive - Tablet=============*/

@media(max-width: 800px){
	.header-main {
		padding: 5px 5%;
	}
	.header-button {
		padding: 2px;
		width: auto;
	}
}
